[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hint"]
	path = hint
	url = https://github.com/alextkalinka/hint
[submodule "linkcomm"]
	path = linkcomm
	url = https://github.com/alextkalinka/linkcomm
